:root {
  --mainBlue: #090969e7;
  --lightBlue: #0077ff;
  --mainWhite: #e6e6e6;
  --mainDark: #232528;
  --mainGreen: #42da06ee;
  --mainRed: #ca2507ee;
}
body {
  font-family: "Oswald", cursive !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
