:root {
  --mainBlue: #06064ee1;
  --lightBlue: #0077ff;
  --mainWhite: #e6e6e6;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald", cursive !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Bungee Shade", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
